@font-face {
    font-family: 'Ooredoo';
    font-weight: 200;
    font-display: swap;
    src: url('./font/Ooredoo/Ooredoo-Heavy.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-weight: 200;
    font-display: swap;
    src: url('./font/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    width: 360px;
    height: 906px;
    background: #FFF;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;
    align-self: stretch;
}

.banner img {
    width: 328px;
    height: 125.921px;
}

.content {
    width: 328px;
}

.content h2 {
    color: #000;
    font-family: Ooredoo;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 22px;
    /* 157.143% */
}

.content p {
    color: #000;
    font-family: NotoSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 0px;
    /* 157.143% */
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 906px;
    background: #FFF;
    margin-top: -15px;

}

.package-thumbnail {
    width: 328px;
    height: 106px;
    border-radius: 20px;
    background: #F9F9F9;
    margin: 10px;

    /* Elevation - 1 */
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.package-container {
    width: 328px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 20px 20px 16px 16px;
    background: #FFF;

    /* Button */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.package-bonus {
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 12px;
    margin-top: 7px;
    margin-left: -8px;
}

.package-bonus p {
    background-color: #ffe7e7;
    color: #ff3d3d;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    font-family: Ooredoo;
    font-size: 8px;
    display: inline-flex;
    margin: 8px;

}

.package-bonus svg {
    width: 12px;
    height: 12px;
}

.days {
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 0px 20px;
    background: #FAFAFA;
    margin-left: 88px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.days p {
    color: #484848;
    text-align: right;
    font-family: Ooredoo;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: 16px;

    /* 160% */
}

.package-name {
    display: flex;
    width: 328px;
    padding: 0px 12px;
    align-items: center;
    gap: 8px;
    margin-top: -6px;
}

.package-name svg {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.package-name p {
    flex: 1 0 0;
    color: #202020;
    font-family: Ooredoo;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
    /* 171.429% */
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price p {
    color: #202020;
    font-family: Ooredoo;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 16px;
    /* 114.286% */
    margin-left: 12px;
    margin-top: 7px;
}

.price del {
    color: #b9b9b9;
    font-family: Ooredoo;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 16px;
    /* 114.286% */
}

.button a img {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 9px;
}
